<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'

const addressBookStore = useAddressBookStore()
</script>

<template>
    <div v-if="addressBookStore.isAddNew">
    <div>
      <label for="name">name: </label>
    <input id="name" type="text" v-model="addressBookStore.address.name" />
    </div>
    <div>
      <label for="gender">gender: </label>
      <select id="gender" v-model="addressBookStore.address.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div>
      <label for="tel">Tel: </label>
    <input id="tel" type="text" v-model="addressBookStore.address.tel" />
    </div>
    <div>
    <button @click="addressBookStore.cancel">Cancle</button>
    <button @click="addressBookStore.save">Save</button>
  </div>
  </div>
</template>

<style scoped>
input, 
select, 
label, 
button {
  font-family: 'Kanit';
  font-size: 15pt;
  margin: 5px;
}
input[type=text], select {
  width: 98%;
  padding: 12px 20px;
  margin: 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.save{
    background-color: #479567;
    border-color: #449c69;
}
.cancel{
    background-color: #c65f4d;
    border-color: #a55041;
}
button {
  width: 40%;
  color: white;
  padding: 14px 20px;
  margin: 5%;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #654d28;
}

div {
  border-radius: 5px;
  padding: 10px;
}

</style>